*{
    margin: 0;
    padding: 0;
    
}



#homepage{
    background:linear-gradient(rgba(0,0,0,0.5),#009688), url('image/6.png');
    background-position: center;
    height: 100vh;
    background-size: cover;
    
    
    
}
.logo{
    width: 6%;
    position: absolute;
    top: 4%;
    left: 4%;
}
.homepage-text{
    text-align: center;
    padding-top: 220px;

}
.homepage-text h1{
    font-size: 80px;
    font-family: 'baloo bhai 2',cursive;

}
.homepage-text p{
    font-size: 20px;
    font-family: 'baloo bhai 2',cursive;
}
.homepage-btn{
    margin: 70px auto 0;


}
.homepage-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0px;
    color: black;
    border: 2px solid black;
    position: relative;
    z-index: 1;
    transition:color 0.5s ;

}
.homepage-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: -7%;
    background:wheat;
    z-index: -1;
    transition: 0.5s;
}
.homepage-btn a:hover span{
    width: 100%;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background:#009688;
    transition: 0.5s;
    font-family: 'baloo bhai 2',cursive;
    overflow: scroll;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
    
    

}
nav ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-family: 'baloo bhai 2',cursive;
    
}
nav ul li.active ul li a{
    text-decoration: underline;
    color:black;
}
nav ul li a:hover{
    text-decoration: underline;
    color:whitesmoke;
}
nav ul li.active ul li a:hover{
    text-decoration: underline;
    color:whitesmoke;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .catalog-show.show{
    display: block;

}
nav ul .ser-show.show1{
    display: block;
    
}

nav ul ul li{
    line-height: 20px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 16px;
    padding-left: 40px;
    align-items: center;
    

}
nav ul li a span{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul li a .span.rotate{
    transform: translateY(-50%) rotate(-180deg);
    
}
#menubtn{
    width: 50px;
    height: 50px;
    background:black;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
    
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
    
    
}
::-webkit-scrollbar{
    width:5px;

}
::-webkit-scrollbar-track{
    background: transparent !important;
}
::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}
<!--loginfromcss-->

*{
    margin: 0;
    padding: 0;
}
.container
{
    width: 100%;
    height: 100vh;
    font-family:'Baloo Bhai 2', cursive;
    background: linear-gradient(rgba(0,0,100,0.8),black),url('image/back1.jpg');
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    


}
.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
    perspective: 1000px;


}
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    transition: transform 1s;

}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url('image/conveyors-1080x640.png');
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    


}
.card-back{
    transform: rotateY(180deg);


}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;

    }
    .input-box{
        width: 100%;
        background:transparent;
        border: 1px solid white;
        margin: 6px 0;
        height: 32px;
        border-radius: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        outline: none;
        text-align: center;
        color: white;

    }
    ::placeholder{
        color: white;
        font-size: 12px;
        
    }
    button{
        width:100%;
        background: transparent;
        border: 1px solid white;
        margin: 35px 0 10px;
        height: 32px;
        font-size: 12px;
        border-radius: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        outline: none;
        color: white;
        cursor: pointer;
    }
    .submit-btn{
        position: relative;

    }
    .submit-btn::after{
        content: '\27a4';
        color: #333;
        line-height: 32px;
        font-size: 17px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: white;
        position:absolute;
        right: -1px;
        top: -1px;
    }
span{
    font-size: 13px;
    margin-left: 10px;

}
.card .btn{
    margin-top: 70px;

}
.card a{
    color: white;
    text-decoration: none;
    display: block;
    text-align:center;
    font-size: 13px;
    margin-top: 8px;

}
/*--about us--*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;
    font-family:'Baloo Bhai 2', cursive; 

}
body{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,100,0.8),black),url('image/back1.jpg');
    background-size: cover;
    overflow: hidden;
    
    
}
.about-us{
      width: 100%;
}
.about-us h1{
    text-align: center;
    font-size: 40px;
    color:#2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;
    text-decoration: underline;

}

.content{
    width: 60%;
    float:left;
    text-align: left;
    padding: 0px 30px;
}
.content h3{
    color:blanchedalmond;
    letter-spacing: 1px;
    font-size: 25px;

}
.content p{
    font-family:sans-serif;
    font-size: 20px;
    color:whitesmoke;
    margin-top: 20px;

}
.content .button{
    margin-top: 40px;
}
.content .button a{
    color:#fff;
    background-color:#2b9ec2;
    border:1px solid #2b9ec2;
    padding:10px 35px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 22px;
    text-transform: uppercase;

}
.content .button a:hover{
    background-color:#fff;
    color:#2b9ec2;
}
.content .social{
    margin-top: 30px;
    margin-left: 15px;

}
.content .social a{
    text-decoration: none;
    color:#222;
    font-size: 25px;
    padding: 0px 70px;

}
.content .social a:hover{
    color: #2b9ec2;
    transition: 1% ease;

}
.content .social i{
    height: 40px;
    width:40px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
#image-section{
   width: 20px;
    float:right;
    padding: 10px 15px;
}
#image-section img{
    width:2px;
    height:20%;

}
@media screen and (max-width:900px){
    .about-us{
        width:100%;
        padding-top: 20px;

    }
    .about-us{
        font-size: 32px;

    }
    .content{
        width:100%;
        float:none;
    }
    .content .button{
        margin-top: 30px;
        text-align: center;
    }
     .content .button a{
         padding: 8px 25px;

     } 
     .content .social{
         margin-top: 30px;
         text-align: center;
     }
    .content .social a{
        font-size: 21px;

    }
    .image-section{
        float:none;
        width:100%;
        margin-top: 25px;

    }

}


		

   



